@font-face {
	font-family: 'Jura';
	src: local('Jura Regular'), local('Jura-Regular'),
	     url('fonts/subset-Jura-Regular.woff2') format('woff2'),
	     url('fonts/subset-Jura-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* { margin: 0; padding: 0; box-sizing: border-box; position: relative; }

body {
	background: #222 linear-gradient(0deg, #25241c, #191811);
	color: #eee;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

#space {
	align-items: center;
	background-image: linear-gradient(0deg, rgba(34, 35, 42, 0), #111219 33%);
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#space > .stars {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#space > .stars > .star {
	animation: twinkle 3s linear infinite;
	background-color: #777ee4;
	width: 1px;
	height: 1px;
	position: absolute;
}

#space > .stars > .star.b {
	width: 2px;
	height: 2px;
}

#space > .stars > .star:nth-child(1) { top: 3vh; left: 7vw; animation-delay: 1s; }
#space > .stars > .star:nth-child(2) { top: 15vh; left: 27vw; animation-delay: 2s; }
#space > .stars > .star:nth-child(3) { top: 43vh; left: 13vw; animation-delay: 3s; }
#space > .stars > .star:nth-child(4) { top: 33vh; left: 74vw; animation-delay: 4s; }
#space > .stars > .star:nth-child(5) { top: 28vh; left: 66vw; animation-delay: 5s; }
#space > .stars > .star:nth-child(6) { top: 17vh; left: 91vw; animation-delay: 6s; }
#space > .stars > .star:nth-child(7) { top: 5vh; left: 15vw; animation-delay: 1s; }
#space > .stars > .star:nth-child(8) { top: 12vh; left: 32vw; animation-delay: 2s; }
#space > .stars > .star:nth-child(9) { top: 21vh; left: 63vw; animation-delay: 3s; }
#space > .stars > .star:nth-child(10) { top: 31vh; left: 17vw; animation-delay: 4s; }
#space > .stars > .star:nth-child(11) { top: 47vh; left: 86vw; animation-delay: 5s; }
#space > .stars > .star:nth-child(12) { top: 39vh; left: 42vw; animation-delay: 6s; }
#space > .stars > .star:nth-child(13) { top: 21vh; left: 5vw; animation-delay: 1s; }
#space > .stars > .star:nth-child(14) { top: 30vh; left: 53vw; animation-delay: 2s; }
#space > .stars > .star:nth-child(15) { top: 2vh; left: 67vw; animation-delay: 3s; }
#space > .stars > .star:nth-child(16) { top: 17vh; left: 25vw; animation-delay: 4s; }
#space > .stars > .star:nth-child(17) { top: 26vh; left: 71vw; animation-delay: 5s; }
#space > .stars > .star:nth-child(18) { top: 22vh; left: 88vw; animation-delay: 6s; }
#space > .stars > .star:nth-child(19) { top: 44vh; left: 31vw; animation-delay: 1s; }
#space > .stars > .star:nth-child(20) { top: 11vh; left: 45vw; animation-delay: 2s; }

#space > .ship {
	animation: launch 5s cubic-bezier(0.45, 0, 0.55, 1) 0s 1 forwards;
	color: #ffae00;
	font: normal 64pt/1 sans-serif;
	text-shadow: 0 0 5px #dba134;
	transform: translateY(50vh) scale(0);
}

#space > .title {
	animation: fade-in 2s ease-out 5s 1 forwards;
	color: #fec;
	display: inline;
	font: normal 48pt/1 Jura, sans-serif;
	opacity: 0;
	text-shadow: 0 0 5px #5c1a00;
}

#space > .title::after {
	color: #807359;
	content: "IO";
	display: block;
	font: inherit;
	font-size: 0.4em;
	position: absolute;
	right: -1em;
	text-shadow: 0 0 5px #b37400;
	top: 0.3em;
}

#mars {
	overflow: hidden;
}

#mars > .planet {
	background-image: linear-gradient(0deg, #ffae00, #b33300);
	border-radius: 50%;
	box-shadow: 0 0 1vmax #b33300;
	height: 50vh;
	left: -50vw;
	margin-top: -24vh;
	top: 25vh;
	width: 200vw;
}

@keyframes fade-in {
	0% { opacity: 0; transform: translateY(1rem); }
	100% { opacity: 1; transform: none; }
}

@keyframes launch {
	0% { transform: translateY(40vh) scale(0); }
	100% { transform: translateY(0) scale(1); }
}

@keyframes twinkle {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.5; }
}

@media (prefers-reduced-motion) {
	#space > .ship {
		animation: none;
		transform: none;
	}

	#space > .title {
		animation: none;
		opacity: 1;
	}

	#space > .stars > .star {
		animation: none;
	}
}
