@import './variables.scss';

#hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 60vh;
	justify-content: space-evenly;
	min-height: 400px;

	background: linear-gradient(35deg, $accent, $primary);
	border-bottom: 3px solid $accent;
	border-top: 3px solid $accent;
	text-align:center;
	text-transform: uppercase;

	h2 {
		font: normal 8rem/1.15 'Unica One', sans-serif;
		text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
	}
}
