---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/home.scss';
---
<BaseLayout title="Watney">
	<div id="hero">
		<div>
			<h2>Watney</h2>
			<h3>A non-sentient habitat and habitant management system.</h3>
		</div>

		<div>
			<a class="big btn" href="/get-started">
				Get Started
			</a>
		</div>
	</div>

	<div id="content">
		ASDF
	</div>
</BaseLayout>
