---
// import Releases from '../components/Releases.astro';
import '../styles/global.scss';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="go-import" content="watney.io/watney git https://github.com/avionx/watney">

	<title>{title}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Unica+One&display=swap" rel="stylesheet">

	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
	<header id="header">
		<div><h1>Watney</h1></div>

		<div>⦽</div>

		<div>
			<a class="icon-link" href="https://github.com/avionx/watney" target="_blank">
				<img src="/images/icons/github.svg">
			</a>
		</div>
	</header>

	<slot />

	<footer id="footer">
		<p>© 2022 James Churchard</p>
	</footer>
</body>
</html>
